# Oracle DB Query

In [9]:
import pandas as pd
import numpy as np
import cx_Oracle

%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [10]:
#df = pd.read_csv('data/data.csv')

In [11]:
%sql oracle+cx_oracle://Debezium:dbz@docker.for.mac.localhost:1521/?service_name=ORCLPDB1

'Connected: Debezium@'

In [12]:
%%sql result <<
SELECT * FROM CUSTOMERS

 * oracle+cx_oracle://Debezium:***@docker.for.mac.localhost:1521/?service_name=ORCLPDB1
0 rows affected.
Returning data to local variable result

In [13]:
df = result.DataFrame()
df.head()

,id,first_name,last_name,email,gender,club_status,comments,create_ts,update_ts
0,1,Rica,Blaisdell,rblaisdell0@rambler.ru,Female,bronze,Universal optimal hierarchy,2019-09-01 08:08:17.055150,2019-09-01 08:08:17
1,2,Ruthie,Brockherst,rbrockherst1@ow.ly,Female,platinum,Reverse-engineered tangible interface,2019-09-01 08:08:17.069213,2019-09-01 08:08:17
2,3,Mariejeanne,Cocci,mcocci2@techcrunch.com,Female,bronze,Multi-tiered bandwidth-monitored capability,2019-09-01 08:08:17.073141,2019-09-01 08:08:17
3,4,Hashim,Rumke,hrumke3@sohu.com,Male,platinum,Self-enabling 24/7 firmware,2019-09-01 08:08:17.084790,2019-09-01 08:08:17
4,5,Hansiain,Coda,hcoda4@senate.gov,Male,platinum,Centralized full-range approach,2019-09-01 08:08:17.135067,2019-09-01 08:08:17